@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
	font-family:fantasy;
    background-color: #808080;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
nav{
	background-color: #8eb3a7;
	width: 100%;
	justify-content: center;
	display: flex;
	padding: 20px;
	align-items: center;
}
h2{
	font-size: 40px;
}
.box{
    background-color: #8080c0;
    border: 1px solid plum;
    padding: 20px;
    text-align: center;
    min-width: 300px;
    margin: 100px;
    
}
form label{
    display: block;
    text-align: left;
    margin: 5px 0;
}
form input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid darkblue;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,2);
}
button{
    width: 100%;
    padding: 10px;
    background-color: #62ddbe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
button:hover{
    background-color: #408080;
}
.options{
    margin-top: 10px;
}
.options a{
    text-decoration: none;
    margin: 0 10px;
    color: hwb(240 9% 80%);
}