<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="" th:href="@{/CSS/admin_home.css}" type="text/css"/>
</head>
<body>
<nav>
	<h1>Admin Home Page</h1>
	<a class="logout" href="logout"><button>Logout</button></a>
	
</nav>
<div>
<a href="newSong"><button>Add new song</button></a>
<br/>
<a href="viewSongs"><button>View all song</button></a>
<br/>
<a href="createPlaylist"><button>Create Playlist</button></a>
<br/>
<a href="viewPlaylists"><button>View all Playlist</button></a>
</div>
</body>
</html>