<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="" th:href="@{/CSS/display_playlist.css}" type="text/css"/>

</head>
<body>
	<nav><h1>Playlists</h1></nav>
	<table border="1">
	  <thead>
		  <tr>
		    <th>Name</th>
		    <th>Songs</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr th:each="playlist:${allPlaylists}">
		    <td th:text="${playlist.name}"></td>
		    <td>
		    	<ul>
		    		<li th:each="song:${playlist.songs}">
				    	<div class="songs">
				    		<span th:text="${song.name}"></span>
					    	<audio controls>
				     			<source th:src="${song.link}" type="audio/mp3">
				      		</audio>
				    	</div>
		    		</li>
		    	</ul>
		    </td>
		  </tr>
	  </tbody>
	</table>
</body>
</html>