<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="" th:href="@{/CSS/display_song.css}" type="text/css"/>
</head>
<body>
<nav>
<h1>Songs List</h1>
</nav>
<div class="table-container">
<table>
  <thead>
	  <tr>
	    <th>Name</th>
	    <th>Artist</th>
	    <th>Genre</th>
	    <th>Play</th>
	  </tr>
  </thead>
  <tbody>
	  <tr th:each="song:${songs}">
	    <td th:text="${song.name}"></td>
	    <td th:text="${song.artist}">
	    <td th:text="${song.genre}"></td>
	    <td>
	    	<audio controls>
     			<source th:src="${song.link}" type="audio/mp3">
      		</audio>
	    </td>
	  </tr>
  </tbody>
</table>
</div>

</body>
</html>